.identity-form{
    font-size: 15px;
    margin-bottom: 15px;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.data-farm{
    background: #000000;
    width: 100%;
    padding: 5px 20px 5px 20px;
}
.data-farm-2{
    background: #686868;
    width: 100%;
    margin-left: 3px;
    padding: 5px 20px 5px 20px;
}
mat-form-field{
  min-width: 300px;
}
.screen-content{
    width: fit-content;
    border-radius: 5px;
    padding: 10px;
}
.cropper-div{
    height: 150px;
    overflow: hidden;
}