.illustration{
  width: 80%;
  margin-bottom: 30px;
}
.dialog-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dialog-text{
  text-align: center;
}
